.ed-pixlr-backend {
    div#typo3-inner-docbody {
        padding: 0;
    }

    div#typo3-inner-docbody,
    #pixlr-container,
    iframe {
        width: 100%;
        height: 100%;
    }

    .typo3-messages {
        margin: 15px;
    }
}